<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict/>
	</array>
	<key>GADApplicationIdentifier</key>
	<string>$(ADMOB_APP_ID)</string>
	<key>AdMobRewardedAdUnitId</key>
	<string>$(ADMOB_REWARDED_AD_UNIT_ID)</string>
	<key>FirebaseFunctionsURL</key>
	<string>$(FIREBASE_FUNCTIONS_URL)</string>
	<key>APIEnvironment</key>
	<string>$(API_ENVIRONMENT)</string>
</dict>
</plist>
